extends layout

block content
	header
		img(src="images/Logo.png", height="300px", width="300px")
		h1 HomeTogether Web Version
		button#logOut Log Out
	#dynroot
		form(action="/login", method="post")
			label(for="userLogin") Username: 
			input(type="text", name="user", id="userLogin")
			br
			label(for="passLogin") Password: 
			input(type="password", name="pass", id="passLogin")
			br
			button(id="signup", type="button") Sign up!
			button(id="logIn", type="button") Log in!