body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6b6e70;
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}

a {
  color: #00B7FF;
}

.selectedItem{
  background-color: #FF0000
}

.searchExcluded{
  visibility: none;
}

.formGroup{
  display:inline-block;
}

#memberBar p{
  display: inline
}

form{
  min-width: 25%;
  max-width: 50%;
}

label{
  font-weight: bold;
}

table {
  border-width: 5px;
  border-color: #FFFFFF;
  border-style: ridge;
  margin: 1%;
  min-width: 25%;
  max-width: 50%;
}

thead tr th{
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-color: #FFFFFF;
  border-bottom-style: groove;
  border-right-style: dashed; 
}

tbody tr td {
  border-width: 1px;
  border-color: #FFFFFF;
  border-bottom-style: dashed;
  border-right-style: dashed; 
  text-align: center;
 
}
tbody tr td:first-child{
  text-align: left;
}

tbody tr:last-child td{
  border-bottom-style: none
}
tbody tr td:last-child{
  border-right-style: none; 
}